* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #404040;
}

.active {
  opacity: 1;
  transition: opacity ease 0.2s;
}

.hide {
  opacity: 0;
}


#header {
  color: #b8b8b8;
}