* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #404040;
}

.active {
  opacity: 1;
  transition: opacity ease 0.2s;
}

.hide {
  opacity: 0;
}


#header {
  color: #b8b8b8;
}

table {

  border-collapse: collapse !important;
  border-radius: 10px !important;
  background-color: #ccf4f4;
  
}

td, tr {

  border: 5px, solid, red !important;
 
}

.searchContainer {
  padding-bottom: 1.5em;
}